extends ../layout/layout

block content
  h1.h3.mb-0.text-gray-800  Exames
  
  .container
      .row
        each item in exames
          .card.mb-1 
            .card-body
              h5.card-title= item.nome_exame
              p= item.id + " tem que tirar essa linha id"
              p= item.id_instituicao + " tem que tirar essa linha id instituicao"
              .card-text
                a(href=`exame/visualizacao?exame=${item.id}&idInstituicao=${item.id_instituicao}` name="exameVisualizacao" class="btn btn-primary") Visualizar             
                a(href=`exame/visualizacao?exame=${item.id}` name="exameVisualizacao" class="btn btn-danger") Excluir

  a( id="add" class="mt-auto p-2 bd-highlight" href='exame/add')
    img(src="/images/add.png" alt="csdsdfs" width="100px")
