extends ../layout/layout

block content
  div
    h1 Consulta
  div
    div(id='formInstituicao' class="form-row")
      block teste
        div(  class="modal fade" id="adicaoInstituicao"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
          div(class="modal-dialog modal-lg")
            div(class="modal-content")
              include ../instituicao
      form( name='testeLoko' class="form-signin" method='POST' action='/exame' enctype='multipart/form-data')
        label(for="seletor" class="my-1 mr-2") Selecione a instituição que foi realizado a consulta
        each item in dados
          select(name="seletor" id="seletor" class="custom-select my-1 mr-sm-2")
            each itens in inst
              if itens.nome == item.instituicao 
                option(value=itens.id selected)= itens.nome
              else
                option(value=itens.id)= itens.nome

          p
            input(type='button' data-toggle="modal" data-target="#adicaoInstituicao" value='Adicionar outro local' id='btAddInst')
          h1 Dados da Consulta
          label(for="diagnostico") Diagnóstico:
          input(class="form-control" type='text' name='diagnostico' value=item.diagnostico placeholder='Digite o diagnóstico')
          label(for="prescricao") Prescrição:
          textarea(class="form-control"  name='prescricao' placeholder='Digite o Prescrição')= item.prescricao
          label(for="nomeMedico") Nome do médico:
          input(class="form-control" type='text' name='nomeMedico' value=item.nome_medico placeholder='Digite o nome do médico')
          div(class="form-group")
            label(for="arq" ) Anexar arquivo
            input(id="arq" name="file" type="file" accept=item.linkImage class="form-control-file")
            br
            img(src=item.linkImage alt='Foto da consulta')
          input(
            type='submit'
            name='cadastrar'
            value='cadastrar'
            class="btn btn-lg btn-primary btn-block"
          )  