block teste
  script(type='text/javascript' src='/js/camposExtras.js').
  div(class="modal-body")
    fieldset(id="camposInstituicao" disabled="disabled")
      h4= item ? "Dados da instituição" : "Cadastro instituição"
      label(for="nomeInstituicao") Nome Instituição:
      input(
        type='text'
        name='nomeInstituicao'
        placeholder='Digite nome da instituição'
        class="form-control"
        autofocus
        value= inst ? inst.nome : ""
      )
      p
        block teste1
          include ./local