block teste1
  label(for="cidade") Cidade:
  input(
    type='text'
    name='cidade'
    placeholder='Nome cidade'
    class="form-control"
    value= inst ? inst.cidade : ""
    required
  )

  label(for="cep") Cep:
    input(
        type='text'
        name='cep'
        placeholder='96700-000'
        class="form-control"
        value= inst ? inst.cep : ""
    )

  label(for="bairro") Bairro:
    input(
      type='text'
      name='bairro'
      placeholder='Digite o bairro'
      class="form-control"
      value= inst ? inst.bairro : ""
    )

  label(for="rua") rua:
    input(
      type='text'
      name='rua'
      placeholder='Digite a rua'
      class="input-group-text"
      value= inst ? inst.rua : ""
    )

  label(for="numero") numero:
    input(
      type='text'
      name='numero'
      placeholder='Digite o numero'
      class="input-group-text"
      value= inst ? inst.numero : ""
    )